h1, h2, h3, h4, h5, h6, p, span, div {
    font-family: 'VT323', monospace;
    font-size: 110%;
}

.barra_buscar{
    width: 550px; 
    height: 34px;
    transform: translate(0px,10px);
    display: block;
}
@media (min-width: 320px) and (max-width: 374px) {
    .barra_buscar {
        width: 140px; 
        height: 34px;
        transform: translate(0px,10px);}}

@media (min-width: 375px) and (max-width: 767px) {
    .barra_buscar {
        width: 180px; 
        height: 34px;
        transform: translate(0px,10px);}}

@media (min-width: 768px) and (max-width: 989px) {
        .barra_buscar {
            width: 440px; 
            height: 34px;
            transform: translate(0px,10px);}}

@media (min-width: 990px) and (max-width: 1199px) {
    .barra_buscar {
        width: 640px; 
        height: 34px;
        transform: translate(0px,10px);}}
    

@media (min-width: 1200px) and (max-width: 1399px) {
        .barra_buscar {
            width: 940px; 
            height: 34px;
            transform: translate(0px,10px);}}
            
@media (min-width: 1400px) and (max-width: 2560px) {
    .barra_buscar {
        width: 1040px; 
        height: 34px;
        transform: translate(0px,10px);}}


/*si hubiera funcionado google maps en git xd*/
#map {
    height: 500px;
    width: 100%;
}